@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@400;500;600;700&display=swap');

home {
    font-family: "Spline Sans", sans-serif;
    color: #777;
    line-height: 1.7;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    color: #222;
}

a {
    color: #222;
    text-decoration: none;
    transition: all 0.4s;
}

a:hover {
    color: #ef4136;
}

img {
    width: 100%;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.shadow-on-hover {
    transition: all 0.3s;
}

.shadow-on-hover:hover {
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

.btn {
    border-radius: 0;
    padding: 14px 38px;
}

.btn-brand {
    color: #fff;
    font-weight: 500;
    border-color: #ef4136;
    background-color: #ef4136;
}

.btn-brand:hover {
    border-color: #000000cc;
    background-color: #000000cc;
    color: #fff;
}

.bg-cover {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.slide-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(https://i.postimg.cc/q7TMzLXd/haha.jpg);
}

.slide-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(https://i.postimg.cc/kgtBVG0W/3.png);
}

#heroSlider h6::after,
#heroSlider h6::before {
    content: " ";
    width: 40px;
    height: 4px;
    background-color: #ffffff;
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(0,0,0,0.6);
    width: 40px;
    height: 70px;
    margin: auto;
}


/* Navbar */
.navbar-nav .nav-link.active {
    color: #ef4136;
}

/* About */
#about .divider {
    width: 60px;
    height: 2px;
    display: block;
    background-color: #ef4136;
}

/* Intro text */
.intro-text {
    margin-bottom: 40px;
    text-align: center;
}

.intro-text p {
    max-width: 500px;
    margin: 16px auto 0 auto;
}


/* Team */
.team-member img {
    max-width: 140px;
    box-shadow: -10px -10px 0 #ef4136;
    border-radius: 50px;
}


/* Footer */
footer {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)); 
    padding-top: 120px;
    padding-bottom: 30px;
}

.footer-top {
    margin-bottom: 30px;
}

footer p,
footer a{
    color: rgba(255, 255, 255, 0.75);
}

footer .social-links a {
    font-size: 24px;
    margin-right: 10px;
}

footer img {
    max-width: 175px;
}

.footer-bottom {
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}